<h1>Stupid coaching</h1>

<div class="response">
<%=@response %>
<h3>-You</h3>
</div>

<div class="answer">
<%= @answer %>
<h3>-Your coach</h3>
</div>

<%= link_to "Ask me something else!", ask_path %>